.col-md-12{
	text-align: center;
	margin: 20px 20px 20px 20px; 
}
.form-group{
	    
	 margin: 10px 10px 15px 15px;
}
.form-group form-check{
	 margin: 10px 10px 15px 15px;
}
.btn{
	margin: 10px 10px 15px 15px;

}
.progress{
	    margin-bottom: 20px;
}
.progress-bar{
	margin-bottom: 20px;
}